@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@900&display=swap');
body{
    background-color: #fcfbf9;
    
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

strong{
    font-style: italic;
    color: navy;
}
em{
    font-size: 20px;
}

header{
    background-color: aquamarine;
}

article{
    background-color: blueviolet;
}